{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="active-listings">Active Listings</h2>
    <section class="listings">
        {% for listing in listings %}
        <article>           
            <div class="image-container">
                <img src="{{ listing.image }}">
            </div>
            <h3 class="listing-title">{{ listing.title }}</h3>           
            <p class="listing-category">{{ listing.category }}</p>
            <p class="listing-description">{{ listing.description|slice:":75" }}...</p>
            <h4 class="listing-price">${{ listing.current_price }}</h4>
            <a href="{% url 'view_listing' listing_id=listing.id %}" class="listing-view">Read More</a>
        </article>
    {% endfor %}
    </section>

{% endblock %}